@font-face {
  font-family: 'bebasneuebook';
  src: url('../fonts/bebasneuebook.woff2') format('woff2'),
  url('../fonts/bebasneuebook.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebasneueregular';
  src: url('../fonts/bebasneueregular.woff2') format('woff2'),
  url('../fonts/bebasneueregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'latoblack';
  src: url('../fonts/latoblack.woff2') format('woff2'),
  url('../fonts/latoblack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'latoregular';
  src: url('../fonts/latoregular.woff2') format('woff2'),
  url('../fonts/latoregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensanslightitalic';
  src: url('../fonts/opensanslightitalic.woff2') format('woff2'),
  url('../fonts/opensanslightitalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
