body {
  position: relative;
  font-family: opensans, Arial, sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.wrap {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}


  .clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrap-1 {
  max-width: 1170px;
  margin: 0 10%;
  position: absolute;
  top: 0;
  left:50%;
  margin-left:-585px;
}