.blog {
  margin-bottom: 58px;
}

.blog__title {
  font-family: opensanslightitalic, Arial, sans-serif;
  font-size: 40px;
  color: #333333;
  position: relative;
  text-align: center;
  padding-top: 90px;
  margin-top: 0;
  margin-bottom: 94px;
}

.blog__title::before {
  content: '';
  position: absolute;
  width: 113px;
  height: 3px;
  background-color: #dc0000;
  left: 532px;
  top: 53px;
}

.blog__title::after {
  content: '';
  position: absolute;
  width: 113px;
  height: 3px;
  background-color: #dc0000;
  left: 532px;
  top: 172px;
}

.blog__slide1:focus,
.blog__slide2:focus {
  outline: none;
}

.blog__news1,
.blog__news2 {
  max-width: 570px;
  h3 {
    font-family: latoblack, Arial, sans-serif;
    font-size: 30px;
    color: #dc0000;
  }
}

.blog__news1 {
  float: left;
}

.blog__news2 {
  float: right;
}

.blog__signature {
  font-family: latoregular, Arial, sans-serif;
  font-size: 16px;
  color: #333333;
  margin-bottom: 62px;
  a {
    color: #333333;
  }
}

.blog__text {
  font-size: 18px;
  color: #333333;
  margin-bottom: 62px;
  line-height: 24px;
  position: relative;
}

.blog__text::before {
  position: absolute;
  content: '';
  width: 570px;
  height: 1px;
  background-color: #ecf0f1;
  left: 0;
  top: -31px;
}

.blog__text::after {
  position: absolute;
  content: '';
  width: 570px;
  height: 1px;
  background-color: #ecf0f1;
  left: 0;
  top: 123px;
}

.blog__button {
  background: none;
  border: 1px solid black;
  width: 170px;
  height: 51px;
  margin-bottom: 62px;
  cursor: pointer;
}

.blog__slider {
  position: relative;
}


